@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #0B0B0B;
  --foreground: #FFFFFF;
}

@theme inline {
  --color-brand-black: #0B0B0B;
  --color-brand-card: #161616;
  --color-brand-gold: #F5A623;
  --color-brand-gold-hover: #E0921B;
  --color-brand-gray: #222222;
  --color-brand-light-gray: #A1A1AA;
  
  --font-sans: var(--font-poppins);
  --font-anton: var(--font-anton);
}

body {
  background-color: var(--color-brand-black);
  color: var(--foreground);
}

/* Base custom styles for Swiper pagination if needed */
.swiper-pagination-bullet-active {
  background: var(--color-brand-gold) !important;
}
